.bg-primary {
    background-color: #212529 !important;
}

.bg-secondary {
    background-color: #323538 !important;
}

h1 {
    color: white;
}

img {
    border-style: solid;
    border-width: 1px;
    border-color: #323538;
}